{% endif %}
            {% if configuration_type == "Map unmapped volumes" %}
                {
                    "required": true,
                    "choices": "{{unmapped_volumes.reduced_list}}",
                    "question_description": "Choose volumes on the flashsystem that are currently unmapped",
                    "new_question": true,
                    "variable": "unmapped_vol",
                    "question_name": "Select a currently unmapped volumes to map to a single host",
                    "type": "multiselect"
                },
            {% endif %}
            {% if (configuration_type == "Create and map volumes" or configuration_type == "Map unmapped volumes") %}
                {
                    "required": false,
                    "choices": "VMware ESX\nIBM AIX",
                    "question_description": "choose from the selectable options for the OS that you will map to",
                    "new_question": true,
                    "variable": "os",
                    "question_name": "Which availabe OS will the volume be used with?",
                    "type": "multiplechoice"
                },
                {
                    "required": false,
                    "question_description": "Which of the available host names, if any, do you want to map this to?",
                    "choices": "{{host_list.survey_info}}",
                    "new_question": true,
                    "variable": "hostname",
                    "question_name": "Which hostname will you map this to?",
                    "type": "text"
                },
                {
                    "required": false,
                    "question_description": "Please enter the Fully Qualified Domain Name for the host.",       
                    "new_question": true,
                    "variable": "host_fqdn",
                    "question_name": "What is the FQDN for the host?",
                    "type": "text"
                }