{   
    "name": "esx_update"
    "description": "ESX questions",
    "spec": [
      
      
      {
        "required": false,
        "min": null,
        "default": "",
        "max": null,
        "choices": "{{ datastore_names }}"
        "question_description": "Which ESX Datastore do you want to use?",
        "new_question": true,
        "variable": "esx_datastore_name",
        "question_name": "datastore_choice",
        "type": "multiplechoice"
      }
      
    ],
    
  }