{
    "name": "flashsystem_update",
    "description": "General questions to provision volumes on IBM FlashSystem",
    "spec": [
        {
            "required": true,
            "default": "new_vol",
            "choices": "Create volumes\nCreate and map volumes\nMap an unmapped volume to a single host\nCreate a new ESX Datastore for mapped volume\nCreate new VMs"
            "question_description": "Choose the type of configuration actions that you want to take",
            "new_question": true,
            "variable": "configuration_type",
            "question_name": "What do you want to do?",
            "type": "text"
        
    ]
}